.container{
     /* 自己设置一下适宜的宽度和高度 */
     height: 750px;
     width: 1900px;
     overflow: hidden;
}

.container .info-container{
    position: relative;
    /* top:8.5px; */
    margin-top: -37%;
    /* left:9px; */
    height:93%;
    width:100%;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}

.container .info-container .info{
    /* position: absolute; */
    margin-top:13%;
    margin-left: 26.3%;
    color:white;
    font-size:30px
}

.container .info-container .introduction{
    /* position: absolute; */
    margin-top:2%;
    margin-left: 18%;
    color:white;
    font-size:20px
}

.container .info-container .introduction2{
    /* position: absolute; */
    margin-left: 12%;
    margin-top: 30px;
    
    color:white;
    font-size:20px
}

.container .info-container .scan{
    /* position: absolute; */
    width:8%;
    height:21%;
    margin-top:1%;
    margin-left: 46.5%;
    border:1px solid transparent;
    border-radius: 100%;
    font-family: Arial;
    font-size: 40px;
    color:rgb(2,70,143);
    background-color: rgba(255,255,255,0.8);
    transition-duration: 0.5s;
    /* border:1px solid white; */
}

.container .info-container .scan:hover{
    color:white;
    background-color: rgba(2,70,143,0.8);
}

.info-addition{
    /* height: 750px; */
    width: 1900px;
    margin-top:30px;
}

.info-addition .head{
    margin-left: 41%;
    font-size: 30px;
}

.info-addition .content{
    margin-left: 32%;
    margin-top:20px;
    font-size: 20px;
}